html {
  font-size: $default-font-size;
  min-height: 100vh;
}

body {
  min-height: 100vh;
  position: relative;
}

.footer {
  min-height: 60px;
  background-color: #f5f5f5;
}

.social-icons {
  font-size: 2rem;
  a {
    color: #fff;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}
