<div class="page-section contact" id="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <h4>Nabita</h4>
        <p>
          I am Nepalese Professional Table Tennis Player who have secured National 
          Championship 7 times and associated with Nepal Police Club Team. 
          I have been honored and awarded multiple titles throughout the beginning 
          of my career. I hold MBA degree from Shinawatra University.
        </p>
        <p>
          To stay connected, please do follow me in social media or just drop
          an email.
        </p>
      </div>

      <div class="col-sm-2">&nbsp;</div>

      <div class="col-sm-5">
        <div class="row">
          <div class="col">
              <a class="contact-email" href="mailto:{{site.email}}">
                <i class="fa fa-envelope"></i>
                {{site.email}} 
              </a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            {% for network in site.social %}
              <a href="{{ network.url }}" 
                class="btn btn-link hero-social-link" target="_blank">
                <i class="fa fa-{{ network.title }} fa-2x"></i>
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>