<section class="page-section">
  <div class="container">
    <h4 class="page-section-heading text-center pb-5">Gallery</h4>
    <div class="row">
      <div class="col-md-6 align-self-center">
        <a class="gallery-image" rel="gallery" href="/images/gallery/gallery_photo_1.jpg">
          <img class="img-fluid" src="/images/gallery/gallery_photo_1.jpg" alt="Image Description">
          <div class="text-overlay">
            <span class="text">Game</span>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a class="gallery-image mb-2" rel="gallery" href="/images/gallery/gallery_photo_2.jpg">
          <img class="img-fluid" src="/images/gallery/gallery_photo_2.jpg" alt="Image Description">
          <div class="text-overlay">
            <span class="text">South Asian Games 2016</span>
          </div>
        </a>

        <a class="gallery-image" rel="gallery" href="/images/gallery/gallery_photo_3.jpg">
          <img class="img-fluid" src="/images/gallery/gallery_photo_3.jpg" alt="Image Description">
          <div class="text-overlay">
            <span class="text">South Asian Game 2016</span>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a class="gallery-image mb-2" rel="gallery" href="/images/gallery/gallery_photo_4.jpg">
          <img class="img-fluid" src="/images/gallery/gallery_photo_4.jpg" alt="Image Description">
          <div class="text-overlay">
              <span class="text">World Championship</span>
          </div>
        </a>

        <a class="gallery-image" rel="gallery" href="/images/gallery/gallery_photo_5.jpg">
          <img class="img-fluid" src="/images/gallery/gallery_photo_5.jpg" alt="Image Description">

          <div class="text-overlay">
            <span class="text">
                10+
                <br>view photos
            </span>
            
          </div>
        </a>
        <img class="gallery-image d-none" rel="gallery" href="/images/gallery/gallery_photo_5.jpg">
        <img class="gallery-image d-none" rel="gallery" href="/images/gallery/gallery_photo_5.jpg">
        <img class="gallery-image d-none" rel="gallery" href="/images/gallery/gallery_photo_5.jpg">
      </div>
    </div>
  </div>
</section>
