<section class="page-section">
  <h4 class="page-section-heading text-center pb-5">Gallery</h4>
  <div class="row">
    <div class="col-md-6 align-self-center">
      <a class="gallery-imageaa" href="/images/gallery/gallery_photo_1.jpg" data-speed="350" data-caption="Lightbox Gallery">
        <img class="img-fluid" src="/images/gallery/gallery_photo_1.jpg" alt="Image Description">
        <span class="u-bg-overlay__inner g-font-size-18 g-color-white g-pos-abs g-left-20 g-bottom-20">
          Game
        </span>
      </a>
    </div>
    <div class="col-md-3">
      <a class="gallery-image" href="javascript:;" data-fancybox="lightbox-gallery--05" data-src="../../assets/img-temp/500x450/img1.jpg" data-speed="350" data-caption="Lightbox Gallery">
        <img class="img-fluid" src="/images/gallery/gallery_photo_2.jpg" alt="Image Description">
        <span class="u-bg-overlay__inner g-color-white g-pos-abs g-left-20 g-bottom-20">
          South Asian Games 2016
        </span>
      </a>

      <a class="gallery-image" href="javascript:;" data-fancybox="lightbox-gallery--05" data-src="../../assets/img-temp/500x450/img2.jpg" data-speed="350" data-caption="Lightbox Gallery">
        <img class="img-fluid" src="/images/gallery/gallery_photo_3.jpg" alt="Image Description">

        <span class="u-bg-overlay__inner g-color-white g-pos-abs g-left-20 g-bottom-20">
          South Asian Game 2016
        </span>
      </a>
    </div>
    <div class="col-md-3">
      <a class="gallery-image" href="javascript:;" data-fancybox="lightbox-gallery--05" data-src="../../assets/img-temp/500x450/img3.jpg" data-speed="350" data-caption="Lightbox Gallery">
        <img class="img-fluid" src="/images/gallery/gallery_photo_4.jpg" alt="Image Description">

        <span class="u-bg-overlay__inner g-color-white g-pos-abs g-left-20 g-bottom-20">
          World Championship
        </span>
      </a>

      <a class="gallery-image d-block u-bg-overlay g-bg-black-opacity-0_5--after g-mb-30 g-mb-0--md" href="javascript:;" data-fancybox="lightbox-gallery--05" data-src="../../assets/img-temp/500x450/img4.jpg" data-speed="350" data-caption="Lightbox Gallery">
        <img class="img-fluid" src="/images/gallery/gallery_photo_5.jpg" alt="Image Description">

        <span class="u-bg-overlay__inner g-absolute-centered g-color-white">
          <span class="g-font-size-46">10+</span>
          <br>view photos
        </span>
      </a>
      <!-- <img class="gallery-image g-hidden-xs-up" href="javascript:;" data-fancybox="lightbox-gallery--05" data-src="../../assets/img-temp/500x450/img1.jpg" data-speed="350" data-caption="Lightbox Gallery">
      <img class="gallery-image g-hidden-xs-up" href="javascript:;" data-fancybox="lightbox-gallery--05" data-src="../../assets/img-temp/500x450/img2.jpg" data-speed="350" data-caption="Lightbox Gallery">
      <img class="gallery-image g-hidden-xs-up" href="javascript:;" data-fancybox="lightbox-gallery--05" data-src="../../assets/img-temp/500x450/img3.jpg" data-speed="350" data-caption="Lightbox Gallery"> -->
    </div>
  </div>
</section>
