.hero {
  position: relative;
  width: 100%;
  min-height: auto;
  overflow-y: hidden;
  background: url("../images/heroimage.jpg"), #525252; ///ehead-primary;
  background-size: cover;
  height: 100vh;
  color: white;


  
  .hero-content {
    text-align: left;
    padding: 10rem 0 3rem;
    position: relative;
    .header-content-inner {
      position: relative;
      max-width: 500px;
      margin: 0 auto;
      h1 {
        margin-top: 0;
        margin-bottom: 30px;
        
      }
      .list-badges {
        margin-bottom: 25px;
        img {
          height: 50px;
          margin-bottom: 25px;
        }
      }
    }
    
    strong {
      font-weight: 900;
    }
  }

  .hero-social-link {
    color: #fff;

    &:hover {
      color: #999;
    }
  }
}




.page-hero {
  padding: 7rem 0 4rem;
  color: #fff;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.9)  0%, 
      rgba(0,0,0,.2) 100%);
    background-repeat: repeat-x;
  }

  * {
    color: #fff;
  }
}

