<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include navigation.html %}

    {% include hero.html %}

    <main role="main" class="container">
      {{ content }}      
    </main>


    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi earum eligendi distinctio sed consequuntur, facere impedit, quis sapiente fugit quo voluptas, tempore doloribus. Harum reiciendis delectus eveniet. Ipsam, culpa ipsum.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium eaque maiores impedit quasi. Quis omnis et rem perspiciatis atque, non illo itaque nemo accusantium, consequuntur esse nisi? Dolores, aliquam voluptatum.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo quaerat, recusandae aliquam enim dolor fugit quibusdam architecto totam earum corrupti neque assumenda voluptas. Explicabo maxime nesciunt nobis et voluptas obcaecati.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, non? Atque doloremque laborum sed dolore, nesciunt adipisci quam, commodi quod consectetur illo quas? Aut amet ex dolor sunt, asperiores debitis.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo inventore doloremque tenetur modi animi consequatur repellat nulla in rem distinctio? Odio reprehenderit quod delectus sapiente ratione hic, maxime illum saepe.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt vero consequuntur repellendus porro libero doloribus quod praesentium facere? Alias cumque porro adipisci eius voluptate sapiente dolores quos blanditiis similique delectus.</p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi earum eligendi distinctio sed consequuntur, facere impedit, quis sapiente fugit quo voluptas, tempore doloribus. Harum reiciendis delectus eveniet. Ipsam, culpa ipsum.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium eaque maiores impedit quasi. Quis omnis et rem perspiciatis atque, non illo itaque nemo accusantium, consequuntur esse nisi? Dolores, aliquam voluptatum.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo quaerat, recusandae aliquam enim dolor fugit quibusdam architecto totam earum corrupti neque assumenda voluptas. Explicabo maxime nesciunt nobis et voluptas obcaecati.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, non? Atque doloremque laborum sed dolore, nesciunt adipisci quam, commodi quod consectetur illo quas? Aut amet ex dolor sunt, asperiores debitis.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo inventore doloremque tenetur modi animi consequatur repellat nulla in rem distinctio? Odio reprehenderit quod delectus sapiente ratione hic, maxime illum saepe.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt vero consequuntur repellendus porro libero doloribus quod praesentium facere? Alias cumque porro adipisci eius voluptate sapiente dolores quos blanditiis similique delectus.</p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi earum eligendi distinctio sed consequuntur, facere impedit, quis sapiente fugit quo voluptas, tempore doloribus. Harum reiciendis delectus eveniet. Ipsam, culpa ipsum.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium eaque maiores impedit quasi. Quis omnis et rem perspiciatis atque, non illo itaque nemo accusantium, consequuntur esse nisi? Dolores, aliquam voluptatum.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo quaerat, recusandae aliquam enim dolor fugit quibusdam architecto totam earum corrupti neque assumenda voluptas. Explicabo maxime nesciunt nobis et voluptas obcaecati.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, non? Atque doloremque laborum sed dolore, nesciunt adipisci quam, commodi quod consectetur illo quas? Aut amet ex dolor sunt, asperiores debitis.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo inventore doloremque tenetur modi animi consequatur repellat nulla in rem distinctio? Odio reprehenderit quod delectus sapiente ratione hic, maxime illum saepe.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt vero consequuntur repellendus porro libero doloribus quod praesentium facere? Alias cumque porro adipisci eius voluptate sapiente dolores quos blanditiis similique delectus.</p>

    {% include footer.html %}
    {% include scripts.html %}

  </body>

</html>
