---
layout: default
---

<section class="page-hero" style="background-image: url({{page.thumbnail}});">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mt-auto">
        <div class="mb-5">
          <h1>{{page.title}}</h1>
          <p class="lead ">
              {{ page.content | strip_html | truncatewords: 15 }}
          </p>
        </div>
        <span>
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {{ page.date | date: "%b %-d, %Y" }}
          </time>
        </span>
        {% if page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">{{ page.author }}</span>        
          </span>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<section class="page-section">
  <article class="container" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
      <h2 class="page-section-head text-center pb-5" itemprop="name headline">
        {{page.title}}
      </h2>
    </header>
    <main class="post-content" itemprop="articleBody">
      {{content}}
    </main>
  </article>
</section>
